<my-app-modal title={{text}} modalId="exampleModalLive1" text="my new modal">loading</my-app-modal>

<my-app-modal title={{text}} modalId="exampleModalLive2" text="my new modal 2">loading</my-app-modal>

<div align="center" class="app">
  <hello name="{{ name }}"></hello>

  <p>
    Start editing to see some magic happen :)
  </p>
  <div>component : {{text}}</div>

  <br><br>

  <div class="bd-example">
    <button (click)="showModal(text)" type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalLive1">
      Launch demo modal 1
    </button>
  </div>
  
  <br><br>

  <div class="bd-example">
    <button (click)="showModal(text)" type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalLive2">
      Launch demo modal 2
    </button>
  </div>
</div>
